<div class="footer">
    <div class="footer-name">@FastX</div>
    <div class="footer-social">
        <li><i class="fa-brands fa-square-facebook"></i></li>
        <li><i class="fa-brands fa-youtube"></i></li>
        <li><i class="fa-brands fa-linkedin"></i></li>
        <li><i class="fa-brands fa-square-twitter"></i></li>
    </div>
</div>